[gobot]
Host = "my.server.tld"
ServerPort = ":3000" # default for go
FrontEnd = "nginx" # leave empty if you don't have a frontend, will use ServerPort instead
URLPathPrefix = "/go" # leave empty if you serve from the root URL above; no slash at end
PathToStaticFiles = "~/go/src/gobot" # where the lib/ and template/ dirs are; change as needed, no slash at end

# Database filename
# GoBotDSN = "/path/to/docroot/database/botmover.db?cache=shared&mode=rwc" # for using a SQLite database
GoBotDSN = "username:password@/database-name"

PDO_Prefix = "mysql"

EngineRunning = false
ShowPopulation = false # sends tons of data for the population on each iteration of the GA

[log]
# Showing what logging options are available and the defaults for each
# FileName = "log/gobot.log"
# Format = "%{color}%{time:2006/01/02 15:04:05.0} %{shortfile} - %{shortfunc} ▶ %{level:.4s}%{color:reset} %{message}"
# MaxSize = 500 # MBytes, integer
# MaxBackups = 3 # integer
# MaxAge = 28 # days, integer
# Compress = true # compress rotated logs? boolean
#
# Severity logging: accepted values are CRITICAL, ERROR, WARNING, NOTICE, INFO, DEBUG
#
SeverityStderr	= "DEBUG"
SeverityFile	= "DEBUG"
SeveritySyslog	= "CRITICAL"

[opensim]
# get a map tile; if you get 'mixed content' errors, you can use nginx to act as a HTTPS proxy
#  see https://starflowerbracken.wordpress.com/2020/05/03/configuring-secure-https-ports-with-tls-ssl-on-opensim/ for some hints
MapURL = "http://opensim.server.tld:8002/map-1-gridx-gridy-objects.jpg"
LSLSignaturePIN = "0000" # this will have to be the same as in your scripts