[Unit]
Description=GoBot
After=syslog.target
After=network.target
After=mariadb.service mysqld.service postgresql.service memcached.service redis.service nginx.service

[Service]
Type=simple
User=bot
Group=client6
WorkingDirectory=/var/www/clients/client6/web61/home/bot
ExecStart=/var/www/clients/client6/web61/home/bot/go/bin gobot
Restart=always
Environment=USER=bot HOME=/var/www/clients/client6/web61/home/bot

[Install]
WantedBy=multi-user.target
